In [1]:
import pandas as pd
import plotnine as p9

In [2]:
df = pd.read_parquet("../Dados/BikeData-Raw.parquet")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,882,2018-11-25 18:21:38.7740,2018-11-25 18:36:21.4720,423.0,W 54 St & 9 Ave,40.765849,-73.986905,476.0,E 31 St & 3 Ave,40.743943,-73.979661,20049,Customer,1969,0
1,669,2018-08-13 18:25:50.5440,2018-08-13 18:36:59.9680,3467.0,W Broadway & Spring Street,40.724947,-74.001659,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,33847,Subscriber,1987,1
2,521,2018-12-18 20:12:15.0620,2018-12-18 20:20:57.0170,411.0,E 6 St & Avenue D,40.722281,-73.976687,504.0,1 Ave & E 16 St,40.732219,-73.981656,30284,Subscriber,1971,1
3,270,2018-05-18 14:23:52.1050,2018-05-18 14:28:22.4910,437.0,Macon St & Nostrand Ave,40.680983,-73.950048,3047.0,Halsey St & Tompkins Ave,40.682369,-73.944118,31542,Subscriber,1964,1
4,441,2018-08-14 19:00:15.8670,2018-08-14 19:07:37.0520,519.0,Pershing Square North,40.751873,-73.977706,498.0,Broadway & W 32 St,40.748549,-73.988084,18363,Subscriber,1979,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1000000 non-null  int64
 1   starttime                1000000 non-null  object
 2   stoptime                 1000000 non-null  object
 3   start station id         999927 non-null   float64
 4   start station name       999927 non-null   object
 5   start station latitude   1000000 non-null  float64
 6   start station longitude  1000000 non-null  float64
 7   end station id           999927 non-null   float64
 8   end station name         999927 non-null   object
 9   end station latitude     1000000 non-null  float64
 10  end station longitude    1000000 non-null  float64
 11  bikeid                   1000000 non-null  int64
 12  usertype                 1000000 non-null  object
 13  birth year               1000000 non-null  int64
 14  gender                   1000000 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 114.4+ MB

In [4]:
df.isna().sum()

tripduration                0
starttime                   0
stoptime                    0
start station id           73
start station name         73
start station latitude      0
start station longitude     0
end station id             73
end station name           73
end station latitude        0
end station longitude       0
bikeid                      0
usertype                    0
birth year                  0
gender                      0
dtype: int64

In [5]:
p = (
    p9.ggplot(data = (
        df
        .select_dtypes('number')
        .melt()
    )) +
    p9.aes(x = 'variable', y = 'value') +
    p9.geom_boxplot()
)

In [6]:
p

/home/juanblanco/anaconda3/envs/Py-env/lib/python3.9/site-packages/plotnine/layer.py:333: PlotnineWarning: stat_boxplot : Removed 146 rows containing non-finite values.